/* Note: IE does not support CSS vars, so this must be run through a CSS preprocessor! */

/************************************************/
/* Brand colors */
/************************************************/

:root {
  --brand-color-primary: #4A4A4A;
  --brand-color-primary--darken: #363434;
  --brand-color-light: #FFF8F2;
  --brand-color-white: #FFFFFF;
}
