/* Note: IE does not support CSS vars, so this must be run through a CSS preprocessor! */

/************************************************/
/* Brand colors */
/************************************************/

:root {
  --brand-color-primary: #77bf00;
  --brand-color-primary--darken: #6cad00;
  --brand-color-light: #FAFAFA;
  --brand-color-accent: #dbdbdb;
  --brand-color-white: #FFFFFF;
}
